extends layout

block content
  div(class="container main-content")
    ul(class= "nav nav-tabs", role = "tablist")
      li(role="presentation",class=(view == "threats")?'active':'')
        a(href="#threats",aria-controls="threats",role="tab",data-toggle="tab", data-id="threats") Threats
      li(role="presentation",class=(view == "controls")?'active':'')
        a(href="#controls",aria-controls="controls",role="tab",data-toggle="tab", data-id="controls") Controls

    div(class="tab-content")
      div(role="tabpanel",class="tab-pane active",id="threats")
        h1 Tab 1
      div(role="tabpanel",class="tab-pane",id="controls")
        h1 Tab 2

block scripts
  script(src="/js/jquery.history.js")
  script(src="/js/main.js")